@media (min-width: 991px) {
    #tab2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 16px;
    }
    #tab2 .tab2_title {
        display: flex;
        align-items: center;
        height: 50px;
        background: #2f6fba;
        font-family: "Noto Sans TC";
        font-size: 16px;
        color: #fff;
        padding: 0 8px;
        margin: 0;
    }
    #tab2 .tab2_title label {
        display: flex;
        align-items: center;
        margin: 0;
        cursor: pointer;
        font-weight: 500;
    }
    #tab2 .tab2_title label > img {
        width: 12px;
        margin-right: 8px;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    #tab2 > ul {
        /* border: 1px solid red; */
        max-height: 171px;
        overflow-y: scroll;
    }
    /* 捲軸寬度 */
    #tab2 > ul::-webkit-scrollbar {
        width: 2px;
    }
    /* 捲軸本體顏色 */
    #tab2 > ul::-webkit-scrollbar-thumb {
        background-color: #7a7a7a;
    }
    #singer_list:checked ~ .voice_items {
        display: none;
    }
    #singer_list:checked ~ .tab2_title label > img {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    .no_audio {
        padding: 0 16px;
        position: relative;
        width: 100%;
        height: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: bold;
        background-color: #000;
    }
}
